html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: #fff;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}
/* nav */

.global-nav {
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 700;
}
.local-nav-links a {
  font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

/* scroll-section-0 */

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;
}

.main-message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.main-message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

/* scroll-section-1 */

.description {
  font-size: 1.2rem;
  columns: #888;
  padding: 0 1rem;
}

.description strong {
  font-size: 3rem;
  float: left;
  margin-right: 0.2em;
  columns: rgb(29, 29, 31);
}

/* scroll-section-2 */

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.desc-message {
  width: 50%;
  font-weight: bold;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(29, 29, 31);
}

/* mid-message */

.mid-message {
  font-size: 2rem;
  color: #888;
  padding: 0 1rem;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  color: #888;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: #fff;
  background: darkorange;
}
